{% extends 'Base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
<!-- load jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
 
 <style>
    .w {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    border-style: none;
    color: #fff;
    border-style: none;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20;
    background: #34568B;
}

    .w1 {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    border-style: none;
    color: #fff;
    border-style: none;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20;
    background: #7FCDCD;
}
</style>

 
<div class="container text-center">
  <h1>Your password is:</h1>
  <h2 id="password_to_copy" class="alert alert-success">{{ password }}    <button id="copyButton" onclick="copyToClipboard('#password_to_copy')" class="w"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 2h-4.18C14.4.84 13.3 0 12 0c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm7 18H5V4h2v3h10V4h2v16z"/></svg></button></h2>
  <a href="{% url 'home' %}" class="w1">Home</a>

</div>

    <script>
        function copyToClipboard (element) {
            // create input to handle password copy. we are going to
            // use jQuery select() which trigger selection of text in input
            let $temp = $("<input>");
 
            // append our temporary input to the document
            $("body").append($temp);
 
            // set new value for temp input (we get value from <h2> tag with id password_to_copy)
            // and select it
            $temp.val($(element).text()).select();
 
            try {
              // copy to clipboard selected text and display success msg
              document.execCommand("copy");
              swal("Password: " + $(element).text() , '  copied to clipboard' , "success")
            } catch (err) {
              // display error msg
              swal("Oops, unable to copy!!! Error:" + err, 'error');
            }
            // remove temporary input
            $temp.remove();
        }
    </script>
{% endblock %}