{% extends "Base.html" %}
{% load static %}

{% block content %}
        <div class="container">
            <h1 style="text-align:center;">Oops!</h1>
            <h2 style="text-align:center;">We couldn't find the page you were looking for. 😓 </h2>

            <h3 style="text-align:center;">Maybe we lost it. It'll be up again if it existed before.</h3>
            <br>
            <h5 style="text-align:center;">Meanwhile, could you try retyping the address? If you see this page again and please contact us.</h5>


        </div>

{% endblock %}