{% extends 'Base.html' %} {% load static %} {% block content %}
    <h1 style="text-align:center;" class="nav-links"><u>About Myself</u></h1>
    <div class="container">
         <br>

<h5>
Welcome to Connect 4, your number one source for all things Connect4. We're dedicated to giving you the very best of Connect4.</h5>

<h5>
This Website Was Founded in 2021 by Rugved, Connect 4 has come a long way from its beginnings in When Rugved first started, His passion for drove them to also that Connect 4 can offer you As The Best Game. We now serve customers all over India and are thrilled that we're able to turn our passion into my own website.</h5>

<h5>
I hope you enjoy my products as much as I enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact me


Sincerely,

Rugved

</h5>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
  <br>
 <br>
 <br>
 <br>
 <br>
    </div>
{% endblock %}