<!doctype html>
<html lang="en">
{% load static %}

<head class="h-100 bg-primary">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta name="apple-itunes-app" content="app-id=1552002492">

<script async defer data-domain="rugvedconnect4.pythonanywhere.com" src="https://plausible.io/js/plausible.js"></script>

  </head>

  </body>
  		<script>
			$(document).ready(function() {
				var progressPath = document.querySelector('.progress-wrap path');
				var pathLength = progressPath.getTotalLength();

				progressPath.style.transition = progressPath.style.WebkitTransition = 'none';
				progressPath.style.strokeDasharray = pathLength + ' ' + pathLength;
				progressPath.style.strokeDashoffset = pathLength;
				progressPath.getBoundingClientRect();
				progressPath.style.transition = progressPath.style.WebkitTransition = 'stroke-dashoffset 10ms linear';

				var updateProgress = function() {
					var scroll = $(window).scrollTop();
					var height = $(document).height() - $(window).height();
					var progress = pathLength - (scroll * pathLength / height);
					progressPath.style.strokeDashoffset = progress;
				}

				updateProgress();
				$(window).scroll(updateProgress);

				var offset = 50;
				var duration = 0;

				jQuery(window).on('scroll', function() {
					if(jQuery(this).scrollTop() > offset) {
						jQuery('.progress-wrap').addClass('active-progress');
					} else {
						jQuery('.progress-wrap').removeClass('active-progress');
					}
				});

				jQuery('.progress-wrap').on('click', function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
				})
			});
		</script>
		<div class="progress-wrap">
			<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
			</svg>
		</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D18CGRGFW1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D18CGRGFW1');
</script>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Online Games</title>
    <link rel="icon" href="{% static 'download1.png' %}" type="image/icon type">


<style media="screen">
    .loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
</style>

</head>

<!--complete head-->
<body class="h-100 bg-primary">

        <div class="bg-primary">


</style>
<style>
a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

</style>
<script src="//code.tidio.co/lq42giw3cvs4d6jziuayfk3cuvsg0l5n.js" async></script>
    <div class="loader">
    <img src="{% static 'loading.gif' %}" alt="Loading..." />
<script type="text/javascript">window.addEventListener("load", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hidden"; // class "loader hidden"
});</script>
</div>


<!--start-->
    <div class="wrapper">
        <div class="nav" id="nav">
            <a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>
<ul class="navbar-nav mr-auto">
                        <a></a>
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
<div class="dropend">
    <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
      Games
    </a>
    <ul class="dropdown-menu" >
      <li><a style="color: black;" class="dropdown-item" href="{% url 'game4' %}">Connect 4</a></li>
      <li><a style="color: black;" class="dropdown-item" href="{% url 'tic' %}">Tic Tac Toe</a></li>
      <li><a style="color: black;" class="dropdown-item" href="{% url 'wack' %}">Wack The Mole</a></li>
    </ul>
  </div>
<div class="dropend">
    <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
      Privacy Policy
    </a>
    <ul class="dropdown-menu" >
      <li><a style="color: black;" class="dropdown-item" href="{% url 'privacy' %}">Privacy Policy Web</a></li>
      <li><a style="color: black;" class="dropdown-item" href="{% url 'app' %}">Privay Policy Android App</a></li>
    </ul>
  </div>
                        <a class="nav-link" aria-current="page" href="{% url 'rules' %}">Rules</a>
                        <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
                        <a class="nav-link" aria-current="page" href="{% url 'age' %}">Age Restrictions</a>
                        <a class="nav-link" aria-current="page" href="{% url 'how' %}">How To Play</a>
                        <a class="nav-link" aria-current="page" href="{% url 'tweets' %}">Tweets</a>
                        <a class="nav-link" aria-current="page" target="_blank" href="https://plausible.io/share/QmIEqQx39jQYBL2GY32VN">Analytics</a>
                        <a class="nav-link" href="{% url 'blog:all_blogs' %}">Blog</a>
                        <a class="nav-link" aria-current="page" href="https://github.com/rugvedthota9/connect4-django" target="_blank">Source Code</a>
        </div>

        <span onclick="openNav()" class="open" id="open">&#9776</span>

    </div>

   <script>
        function openNav() {
            document.getElementById("open").style.display = "none";
            document.getElementById("nav").style.width = "100%";
        }
        function closeNav() {

            document.getElementById("nav").style.width = "0";
            document.getElementById("open").style.display = "block";
        }
    </script>
    {% block content %}{% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</div>
    <script src="app.js"></script>
</body>

</html>