{% extends 'Base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'p.css' %}">
    <link rel="stylesheet" href="{% static 'cardstyle.css' %}">
    <div class="container">
        <div class="card">
            <div class="circle">
                <h2>Connect-4</h2>
            </div>
            <div class="content">
                <p>Connect 4 With Computer And Human</p>
                <a href="{% url 'game4' %}">Play</a>
            </div>

        </div>
        <div class="card">
            <div class="circle">
                <h2>Whack The Mole</h2>
            </div>
            <div class="content">
                <p>Wack The Mole</p>
                <a href="{% url 'wack' %}">Play</a>
            </div>
        </div>

    </div>
<div class="popup">
        <div class="contentBox">
            <div class="close"></div>
            <div class="imgBx">
                <img src="{% static 'Play-Games-icon.png' %}">
            </div>
            <div class="content">
                <div>
                    <h3>Special Offer</h3>
                    <h2>80<sup>%</sup> <span> Off</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#">Get The Deal</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Automatic show popup after 2seconds of page load -->
    <script>
        const popup = document.querySelector('.popup');
        const close = document.querySelector('.close');

        window.onload = function() {
            setTimeout(function() {
                popup.style.display = "block";

                //  Add some time delay to show popup
            }, 2000)
        }

        close.addEventListener('click', () => {
            popup.style.display = "none";
        })
    </script>


{% endblock %}