{% load static %}

    <title>Online Games</title>
    <link rel="icon" href="{% static 'Play-Games-icon.png' %}" type="image/icon type">

<link rel="stylesheet" href="{% static 'link.css' %}">
	<ul>
		<li><a href="{% url 'home' %}" data-text="Home">Home</a></li>
		<li><a href="{% url 'g' %}" data-text="Games">Games</a></li>
		<li><a href="{% url 'privacy' %}" data-text="Privacy Policy">Privacy Policy</a></li>
		<li><a href="{% url 'about' %}" data-text="About">About</a></li>
		<li><a href="{% url 'age' %}" data-text="Age Restriction">Age Restriction</a></li>
		<li><a href="{% url 'our' %}" data-text="screenshot">Screenshots</a></li>
		<li><a href="{% url 's2' %}" data-text="Social Media">Social Media</a></li>
		<li><a href="{% url 'blog:all_blogs' %}" data-text="Blog">Blog</a></li>

	</ul>