{% extends 'Base.html' %} {% load static %} {% block content %}
    <link rel="stylesheet" href="{% static 'Part3_FrontEndProject.css' %}">
<div align='center'>
<br>
 	<div id="GameChoiceScreen" class="overlay">
		<div class="overlaybtns">
			<button class="gameChoiceBtns" id="Human" onclick="closeOverlay(this.id)">Human</button>
			<button class="gameChoiceBtns" id="Computer" onclick="closeOverlay(this.id)">Computer</button>
		</div>
	</div>
	<h1>Turn: <span id="Player"></span> </h1>

	<div id="centre_wrapper">
	    	<br>
	<br>
		<br>
	<br>
		<br>
	<br>	<br>
	<br>

		<table id="board">
			<tbody></tbody>
		</table>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</script>
<script src="{% static 'Part3_FrontEndProject.js' %}">
</script>
	</div>
{% endblock %}