{% extends 'Base.html' %} {% load static %} {% block content %}

<style>
    iframe{
        isolation: isolate;
    }
</style>

<br>
<div align="center" class="iframe-container">
    <h4 class="hoverable">Connect 4</h4>
    <br>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/utXzIFEVPjA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <br>
     <h4 class="hoverable">Tic Tac Toe</h4>
    <br>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/Xb1pFj9FJ8w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br>
 <br>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/BsH5f_CwUfk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

{% endblock %}
