{% extends 'Base.html' %}
{% block content %}
{% load static %}

<style>
    button{
        isolation: isolate;
    }

</style>
<main>
      <section class="glass">
          <div class="gi">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2 style="text-align:center;" class="service_heading">Login</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput username" name="username" autocomplete="off" required placeholder="Username">
  <label for="floatingInput username">Username</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword password" name="password" required placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>

                <br>
                <button type="submit" class="btn btn-outline-info">Login</button>
            </form>
            <hr>
            <div class="text-center">
                <br>
                Need an account? <a class="link-danger" href="{% url 'signupuser' %}">Sign Up here</a>
            </div>
        </div>
    </div>
    </div>
    </section>
    </main>
{% endblock %}
