{% extends 'Base.html' %} {% block content %} {% load static %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
<style>
    a:link{
        isolation: isolate;
    }
</style>
<style>
html {
  scroll-behavior: smooth;
}

section {
  z-index: -1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


</style>
<section>
  <div class="container">
    <h2 data-text="Welcome_To_Online_Games">Welcome_To_Online_Games</h2>
  </div>
</section>
{% endblock %}