{% extends 'Base.html' %} {% load static %} {% block content %}
 <br>
 <style>
     h1 {
    text-align: center;
}

 </style>
        <div class="container">
            <h1 class="service_heading" text:center>Rules Of Connect 4</h1>

            <ol>
                <li>The two players take alternate turns dropping one of their discs at a time into an unfilled column</li>
                <li>If any of the players connect 4 discs in a row or column or in a diagonal they win</li>
                <li>Playing time: 1 - 10 minutes</li>
            </ol>
             <br>
                        <h1 class="service_heading" text:center>Rules Of whack the mole</h1>

<p>Each player chooses a mole to be his or her mover. Each player then places their mole at the starting position located at the open mineshaft.<br>
If you land on a space with a Hammer Icon on it, you get to whack one of your opponent's moles.</p>

        </div>
        {% endblock %}