{% extends 'Base.html' %} {% load static %} {% block content %}
        <div class="container">
            <h1 text:center><u>Rules Of Connect 4</u></h1>

            <ul>
                <li>The two players take alternate turns dropping one of their discs at a time into an unfilled column</li>
                <li>If any of the players connect 4 discs in a row or column or in a diagonal they win</li>
                <li>Playing time: 1 - 10 minutes</li>
            </ul>
        </div>
        {% endblock %}