{% extends 'Base.html' %} {% load static %} {% block content %}
<div class="container">
<h2 style="text-align:center;" class="service_heading">About Whack The Mole</h2>
<p>Whac-A-Mole is a popular arcade game. In Japan, モグラ退治 is a popular arcade game invented in 1975 by Kazuo Yamada of TOGO, based on ten of the designer's pencil sketches from 1974, licensed to Bandai in 1977. It can also be commonly found at Japanese festivals</p>
<p>You Have 60 Second or 1 Minute To Whack The Mole Are You Ready To Play Click The Start Button To Play No Count Down Direct Start After Clicking The Start Button</p>
<a type="button" class="btn btn-outline-primary" href="{% url 's' %}">Start</a>
</div>
{% endblock %}
