{% extends 'Base.html' %} {% load static %} {% block content %}
  <link rel="stylesheet" href="{% static 'main.css' %}">

  <div class="container">
    <h1 class="title">Tic <span>Tac</span> Toe</h1>
    <div class="status-action">
      <div class="status">× is next</div>
      <div class="reset">Reset</div>
    </div>
    <div class="game-grid">
      <div class="game-cell"></div>
      <div class="game-cell"></div>
      <div class="game-cell"></div>
      <div class="game-cell"></div>
      <div class="game-cell"></div>
      <div class="game-cell"></div>
      <div class="game-cell"></div>
      <div class="game-cell"></div>
      <div class="game-cell"></div>
    </div>
  </div>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>

{% endblock %}