{% extends 'Base.html' %} {% load static %} {% block content %}

<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
<style>
        hr.two{
        height: 5px;
        border: none;
        border-radius: 10px;
        border-top: 2px solid;
        color: blue;
    }
</style>

<h1 class="text-center hoverable" id="blogtitle" class="font-weight-bold text-center">Blog</h1>

<h3 class="text-center mb-5">Total{{ blogs.count|pluralize }} Blogs Are {{ blogs.count }}</h3>

{% for blog in blogs %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2>{{ blog.title }}</h2>
    </a>
    <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
    <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
    <img src="{{ blog.image }}" class="center">
<hr class="two">

  </div>
</div>
{% endfor %}

{% endblock %}
