{% extends 'Base.html' %} {% load static %} {% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

a{
    isolation: isolate;
}

</style>
<div class="text-center">
  <h1>Your password is:</h1>
  <div class="container">
  <h2 id="password_to_copy" class="alert alert-success">{{ password }} <button id="copyButton" onclick="copyToClipboard('#password_to_copy')" class="topright btn btn-info"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><path d="M15,20H5V7c0-0.55-0.45-1-1-1h0C3.45,6,3,6.45,3,7v13c0,1.1,0.9,2,2,2h10c0.55,0,1-0.45,1-1v0C16,20.45,15.55,20,15,20z M20,16V4c0-1.1-0.9-2-2-2H9C7.9,2,7,2.9,7,4v12c0,1.1,0.9,2,2,2h9C19.1,18,20,17.1,20,16z M18,16H9V4h9V16z"/></g></svg></button></h2>
  </div>
  <a href="{% url 'p' %}" class="btn btn-info">Home</a>

</div>
    <script>
        function copyToClipboard (element) {
            // create input to handle password copy. we are going to
            // use jQuery select() which trigger selection of text in input
            let $temp = $("<input>");

            // append our temporary input to the document
            $("body").append($temp);

            // set new value for temp input (we get value from <h2> tag with id password_to_copy)
            // and select it
            $temp.val($(element).text()).select();

            try {
              // copy to clipboard selected text and display success msg
              document.execCommand("copy");
              alert("Password: " + $(element).text() + " copied to clipboard");
            } catch (err) {
              // display error msg
              alert("Oops, unable to copy!!! Error: " + err);
            }
            // remove temporary input
            $temp.remove();
        }
    </script>
{% endblock %}