#centre_wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#board {
	width:70%;
	height:70%;
	margin: 0 auto;
}

tbody, thead{
	width: 100%;
	height: 100%;
}

.slot {
	background-color: #d3d3d3;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0 auto;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #ADD8E6;
}

button:hover .arrow-down {
	border-top: 35px solid blue;
}


.columnSelector {
	background-color: transparent;
	border: none;
	margin: 0 auto;
	display: table;
}

#reset {
	padding: 20px;
	border-radius: 25px;
	background-color: #5d8aa8;
}

.overlay {
	background-color: rgba(0,0,0, 0.3);
	height: 100%;
	width: 100%;f
	position: fixed;
	z-index: 1;
}

.overlay .overlaybtns {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gameChoiceBtns {
	padding: 20px;
	border-radius: 25px;
	background-color: #FFA500;
}