li{
    list-style: none;

}

@media(max-width: 991px){
    .container h1 ,
    .container h2,
    .container h3,
    .container h4,
    .container h5,
    .container h6{
        font-size: 30px;
    }
    .container a{
        font-size: 10px;
    }
}